@import url(./fonts.css);
@import url(./default.css);
@import url(./mobile.css);

body {
  background-color: #162831;
  font-family: "ElMessiri";
  color: azure;
  font-weight: 500;
}
.btn,
a {
  color: white;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}
h1 {
  font-weight: 700;
  font-size: 64px;
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 21px;
}
h5 {
  font-size: 18px;
}
p {
  font-weight: 300;
  font-size: 16px;
}
.wrapper {
  max-width: 1296px;
  margin: 0 auto;
}
section {
  margin-bottom: 150px;
}
.container,
.price li {
  display: flex;
  justify-content: space-between;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 50px;
}
header .logo,
.to-sign {
  width: 15%;
}
.to-sign {
  display: flex;
  justify-content: flex-end;
}
header .btn {
  padding: 9px 15px;
  background-color: #018abe;
}
.menu {
  width: 55%;
  display: flex;
  justify-content: space-between;
}
.menu a {
  font-size: 14px;
  transition: 300ms;
}
.menu a:hover {
  color: #018abe;
}
.main {
  height: 600px;
  background-image: url(../img/main-section.png);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner-subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 33%;
  margin-bottom: 40px;
}
.main h1 {
  width: 33%;
  text-align: center;
  margin-bottom: 60px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.title h2 {
  margin: 0 45px;
}
.service-card {
  width: 32%;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service-card-cover {
  width: 100%;
  height: 48%;
  background: linear-gradient(
      0deg,
      rgba(1, 138, 190, 0.5),
      rgba(1, 138, 190, 0.5)
    ),
    url(../img/card.jpg) center no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.4s;
  cursor: pointer;
}
.service-card:first-child .service-card-cover {
  height: 100%;
}
.service-card-cover h3 {
  margin-bottom: 40px;
  margin-left: 40px;
}
.service-card-cover:hover {
  border-bottom: 7px solid #018abe;
}
.about .container:nth-child(2) {
  margin-bottom: 100px;
}
.box {
  width: 48%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.about.box.cover {
  padding-top: 32%;
  background: url("../img/card.jpg") center no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.about p {
  width: 80%;
}
.about p:nth-child(2) {
  margin-bottom: 30px;
}
.about h3 {
  margin-bottom: 30px;
}
.price-list {
  width: 70%;
}
.price-list-title {
  display: flex;
  align-items: center;
}
.price-list-title h5 {
  margin-left: 20px;
}
.price-list li {
  margin-bottom: 30px;
}
.price-list li:last-child {
  margin-bottom: 0;
}
.price.box .cover {
  width: 100%;
  padding-top: 70%;
  background: url(../img/sertificate.jpg) center no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 30px;
}
.price.box h4 {
  width: 100%;
  text-align: center;
}
@media (max-width: 600px) {
  header a  {
    display: ;
  }

  .service h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .service-card-cover {
    width: 350px;
    display: flex;
    align-items: center;
  }
  .service-card-cover h3 {
    display: flex;
    align-items: center;
  }
  .service-card {
    height: 270px;
  }
  .service-card:first-child .service-card-cover {
    height: 60%;
    display: flex;
    align-items: center;
  }
  .service .container {
    display: flex;
    flex-direction: column;
  }
 .container .service-card .service-card-cover{
    margin-bottom: 20px;
  }
  
  
  


}
